USE [ATMDatabase]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 04-Jul-20 11:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountCards]    Script Date: 04-Jul-20 11:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountCards](
	[AccountNumber] [nvarchar](128) NOT NULL,
	[AccountType] [int] NOT NULL,
	[CardCreationDate] [datetime] NOT NULL,
	[AvailableBalance] [float] NOT NULL,
	[ForeignFee] [int] NOT NULL,
	[InternalFee] [int] NOT NULL,
	[Role] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[BankID] [int] NOT NULL,
	[PersonID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AccountCards] PRIMARY KEY CLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountHistories]    Script Date: 04-Jul-20 11:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountHistories](
	[AccountHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[AccountHistoryTime] [datetime] NOT NULL,
	[AccountNumber] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AccountHistories] PRIMARY KEY CLUSTERED 
(
	[AccountHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATMHistories]    Script Date: 04-Jul-20 11:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATMHistories](
	[ATMHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[ATMHistoryTime] [datetime] NOT NULL,
	[ATMID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ATMHistories] PRIMARY KEY CLUSTERED 
(
	[ATMHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATMInfoes]    Script Date: 04-Jul-20 11:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATMInfoes](
	[ATMID] [int] IDENTITY(1,1) NOT NULL,
	[ATMName] [nvarchar](max) NOT NULL,
	[ATMAddress] [nvarchar](max) NOT NULL,
	[ATMBalance] [float] NOT NULL,
	[BankID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ATMInfoes] PRIMARY KEY CLUSTERED 
(
	[ATMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATMTransactions]    Script Date: 04-Jul-20 11:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATMTransactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionMoney] [float] NOT NULL,
	[TransactionTime] [datetime] NOT NULL,
	[TransactionType] [int] NOT NULL,
	[BeneficiaryCard] [nvarchar](max) NULL,
	[AccountNumber] [nvarchar](128) NOT NULL,
	[ATMID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ATMTransactions] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankInfoes]    Script Date: 04-Jul-20 11:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankInfoes](
	[BankID] [int] IDENTITY(1,1) NOT NULL,
	[BankName] [nvarchar](max) NOT NULL,
	[BankAddress] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.BankInfoes] PRIMARY KEY CLUSTERED 
(
	[BankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 04-Jul-20 11:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[PersonName] [nvarchar](max) NOT NULL,
	[PersonBirth] [datetime] NOT NULL,
	[IdCard] [nvarchar](max) NOT NULL,
	[PersonPhone] [nvarchar](max) NOT NULL,
	[PersonAddress] [nvarchar](max) NOT NULL,
	[PersonEmail] [nvarchar](max) NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
	[Position] [int] NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.People] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogins]    Script Date: 04-Jul-20 11:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogins](
	[AccountNumber] [nvarchar](128) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[CountPassword] [int] NOT NULL,
	[AccountCard_AccountNumber] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.UserLogins] PRIMARY KEY CLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AccountCards] ([AccountNumber], [AccountType], [CardCreationDate], [AvailableBalance], [ForeignFee], [InternalFee], [Role], [Status], [BankID], [PersonID]) VALUES (N'0710000000002', 0, CAST(N'2020-07-04T18:40:37.790' AS DateTime), 4223388, 3300, 1100, 0, 0, 2, 2)
INSERT [dbo].[AccountCards] ([AccountNumber], [AccountType], [CardCreationDate], [AvailableBalance], [ForeignFee], [InternalFee], [Role], [Status], [BankID], [PersonID]) VALUES (N'0710000000005', 0, CAST(N'2020-07-04T18:40:37.800' AS DateTime), 301246912, 3300, 1100, 0, 0, 2, 5)
INSERT [dbo].[AccountCards] ([AccountNumber], [AccountType], [CardCreationDate], [AvailableBalance], [ForeignFee], [InternalFee], [Role], [Status], [BankID], [PersonID]) VALUES (N'0711000000001', 1, CAST(N'2020-07-04T18:40:37.763' AS DateTime), 200000, 3300, 1100, 0, 0, 1, 1)
SET IDENTITY_INSERT [dbo].[AccountHistories] ON 

INSERT [dbo].[AccountHistories] ([AccountHistoryID], [AccountHistoryTime], [AccountNumber]) VALUES (1, CAST(N'2020-07-04T18:40:37.913' AS DateTime), N'0710000000002')
INSERT [dbo].[AccountHistories] ([AccountHistoryID], [AccountHistoryTime], [AccountNumber]) VALUES (2, CAST(N'2020-07-04T18:40:37.900' AS DateTime), N'0711000000001')
INSERT [dbo].[AccountHistories] ([AccountHistoryID], [AccountHistoryTime], [AccountNumber]) VALUES (3, CAST(N'2020-07-04T18:40:37.913' AS DateTime), N'0711000000003')
SET IDENTITY_INSERT [dbo].[AccountHistories] OFF
SET IDENTITY_INSERT [dbo].[ATMHistories] ON 

INSERT [dbo].[ATMHistories] ([ATMHistoryID], [ATMHistoryTime], [ATMID]) VALUES (1, CAST(N'2020-07-04T18:40:37.760' AS DateTime), 1)
INSERT [dbo].[ATMHistories] ([ATMHistoryID], [ATMHistoryTime], [ATMID]) VALUES (2, CAST(N'2020-07-04T18:40:37.737' AS DateTime), 2)
INSERT [dbo].[ATMHistories] ([ATMHistoryID], [ATMHistoryTime], [ATMID]) VALUES (3, CAST(N'2020-07-04T18:40:37.760' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[ATMHistories] OFF
SET IDENTITY_INSERT [dbo].[ATMInfoes] ON 

INSERT [dbo].[ATMInfoes] ([ATMID], [ATMName], [ATMAddress], [ATMBalance], [BankID]) VALUES (1, N'VCB 02 Tây Thạnh', N'25 Tây Thạnh', 493500000, 1)
INSERT [dbo].[ATMInfoes] ([ATMID], [ATMName], [ATMAddress], [ATMBalance], [BankID]) VALUES (2, N'AGR 01 Nguyễn Văn Bảo', N'11 Nguyễn Văn Bảo', 2500000000, 2)
INSERT [dbo].[ATMInfoes] ([ATMID], [ATMName], [ATMAddress], [ATMBalance], [BankID]) VALUES (3, N'VIB 03 Quang Trung', N'255 Quang Trung', 150000000, 3)
SET IDENTITY_INSERT [dbo].[ATMInfoes] OFF
SET IDENTITY_INSERT [dbo].[ATMTransactions] ON 

INSERT [dbo].[ATMTransactions] ([TransactionID], [TransactionMoney], [TransactionTime], [TransactionType], [BeneficiaryCard], [AccountNumber], [ATMID]) VALUES (1, 2000000, CAST(N'2020-07-04T18:40:37.937' AS DateTime), 0, N'0710000000002', N'0710000000002', 1)
INSERT [dbo].[ATMTransactions] ([TransactionID], [TransactionMoney], [TransactionTime], [TransactionType], [BeneficiaryCard], [AccountNumber], [ATMID]) VALUES (2, 12000000, CAST(N'2020-07-04T18:40:37.917' AS DateTime), 2, N'0711000000001', N'0711000000001', 2)
INSERT [dbo].[ATMTransactions] ([TransactionID], [TransactionMoney], [TransactionTime], [TransactionType], [BeneficiaryCard], [AccountNumber], [ATMID]) VALUES (3, 5000000, CAST(N'2020-07-04T18:40:37.940' AS DateTime), 1, N'0711000000001', N'0711000000003', 3)
SET IDENTITY_INSERT [dbo].[ATMTransactions] OFF
SET IDENTITY_INSERT [dbo].[BankInfoes] ON 

INSERT [dbo].[BankInfoes] ([BankID], [BankName], [BankAddress]) VALUES (1, N'Vietcombank Tân Bình', N'25 Tây Thạnh')
INSERT [dbo].[BankInfoes] ([BankID], [BankName], [BankAddress]) VALUES (2, N'Agribank Gò Vấp', N'11 Nguyễn Văn Bảo')
INSERT [dbo].[BankInfoes] ([BankID], [BankName], [BankAddress]) VALUES (3, N'VIB Tân Bình', N'56 Cộng Hoà')
SET IDENTITY_INSERT [dbo].[BankInfoes] OFF
SET IDENTITY_INSERT [dbo].[People] ON 

INSERT [dbo].[People] ([PersonID], [PersonName], [PersonBirth], [IdCard], [PersonPhone], [PersonAddress], [PersonEmail], [CompanyName], [Position], [Discriminator]) VALUES (1, N'Đỗ Thuỳ Linh', CAST(N'1999-05-21T00:00:00.000' AS DateTime), N'035199000001', N'0967247367', N'87/50 đường số 3', N'dothuylinh2105@gmail.com', N'A System', NULL, N'Customer')
INSERT [dbo].[People] ([PersonID], [PersonName], [PersonBirth], [IdCard], [PersonPhone], [PersonAddress], [PersonEmail], [CompanyName], [Position], [Discriminator]) VALUES (2, N'Lương Thị Thu', CAST(N'1999-10-19T00:00:00.000' AS DateTime), N'035199000002', N'0348802311', N'21 Nguyễn Văn Bảo', N'luongthithu@gmail.com', N'A System', NULL, N'Customer')
INSERT [dbo].[People] ([PersonID], [PersonName], [PersonBirth], [IdCard], [PersonPhone], [PersonAddress], [PersonEmail], [CompanyName], [Position], [Discriminator]) VALUES (3, N'Trương Đăng Quang', CAST(N'1998-06-26T00:00:00.000' AS DateTime), N'035199000003', N'0334990937', N'25 Tân Thới Nhất 18', N'truongdangquang1998@gmail.com', N'A System', NULL, N'Customer')
SET IDENTITY_INSERT [dbo].[People] OFF
INSERT [dbo].[UserLogins] ([AccountNumber], [Password], [CountPassword], [AccountCard_AccountNumber]) VALUES (N'0710000000002', N'123456', 3, NULL)
INSERT [dbo].[UserLogins] ([AccountNumber], [Password], [CountPassword], [AccountCard_AccountNumber]) VALUES (N'0710000000005', N'222222', 3, NULL)
INSERT [dbo].[UserLogins] ([AccountNumber], [Password], [CountPassword], [AccountCard_AccountNumber]) VALUES (N'0711000000001', N'111111', 0, NULL)
ALTER TABLE [dbo].[AccountCards]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AccountCards_dbo.BankInfoes_BankID] FOREIGN KEY([BankID])
REFERENCES [dbo].[BankInfoes] ([BankID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountCards] CHECK CONSTRAINT [FK_dbo.AccountCards_dbo.BankInfoes_BankID]
GO
ALTER TABLE [dbo].[AccountCards]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AccountCards_dbo.People_PersonID] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountCards] CHECK CONSTRAINT [FK_dbo.AccountCards_dbo.People_PersonID]
GO
ALTER TABLE [dbo].[AccountHistories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AccountHistories_dbo.UserLogins_AccountNumber] FOREIGN KEY([AccountNumber])
REFERENCES [dbo].[UserLogins] ([AccountNumber])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountHistories] CHECK CONSTRAINT [FK_dbo.AccountHistories_dbo.UserLogins_AccountNumber]
GO
ALTER TABLE [dbo].[ATMHistories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ATMHistories_dbo.ATMInfoes_ATMID] FOREIGN KEY([ATMID])
REFERENCES [dbo].[ATMInfoes] ([ATMID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ATMHistories] CHECK CONSTRAINT [FK_dbo.ATMHistories_dbo.ATMInfoes_ATMID]
GO
ALTER TABLE [dbo].[ATMInfoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ATMInfoes_dbo.BankInfoes_BankID] FOREIGN KEY([BankID])
REFERENCES [dbo].[BankInfoes] ([BankID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ATMInfoes] CHECK CONSTRAINT [FK_dbo.ATMInfoes_dbo.BankInfoes_BankID]
GO
ALTER TABLE [dbo].[ATMTransactions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ATMTransactions_dbo.ATMInfoes_ATMID] FOREIGN KEY([ATMID])
REFERENCES [dbo].[ATMInfoes] ([ATMID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ATMTransactions] CHECK CONSTRAINT [FK_dbo.ATMTransactions_dbo.ATMInfoes_ATMID]
GO
ALTER TABLE [dbo].[ATMTransactions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ATMTransactions_dbo.UserLogins_AccountNumber] FOREIGN KEY([AccountNumber])
REFERENCES [dbo].[UserLogins] ([AccountNumber])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ATMTransactions] CHECK CONSTRAINT [FK_dbo.ATMTransactions_dbo.UserLogins_AccountNumber]
GO
ALTER TABLE [dbo].[UserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserLogins_dbo.AccountCards_AccountCard_AccountNumber] FOREIGN KEY([AccountCard_AccountNumber])
REFERENCES [dbo].[AccountCards] ([AccountNumber])
GO
ALTER TABLE [dbo].[UserLogins] CHECK CONSTRAINT [FK_dbo.UserLogins_dbo.AccountCards_AccountCard_AccountNumber]
GO
